.card{
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.searcher{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.pic, .body{
    border: none;
    border-radius: 0;
    margin: 0;
}
.pic{
    flex: 2;
    overflow: hidden;
    position: relative;
}

.body{
    flex: 1;
    padding: 15px;
    flex-direction: column;
    display: flex;
}

.body p{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: x-large;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
    margin: 10px;
    background-color: #b4281e;
    color: white;
}