<div class="card">
    <div class="body">
        <mat-form-field class="example-full-width">
            <mat-label>Caption:</mat-label>
            <textarea matInput [ngModel] = "caption"></textarea>
          </mat-form-field>
        <input type="file" (change)="onFileChanged($event)" accept=".jpg, .jpeg, .png">
        <button mat-flat-button [disabled]="uploaded">
            Register
        </button>
    </div>
    <div class="pic">
        <img src={{uploadedPic}}>

    </div> 
</div>
