footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-width: 300px;
    background-color: #8cb3af;
    color: white;
}

p, h3{
    margin: auto;
    text-align: center;
}
div{
    padding: 30px 0 50px 0;
}