div, form{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}

form{
    width: 30%;
    margin: auto;
    padding: 20px;
    border: 1px solid #8cb3af;
    border-radius: 10px;
}

button{
    background-color: #58805f;
    color: white;
}

p{
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: #2d4441;
}