.container{
    width: 100%;
    margin-top: 7%;
    margin-bottom: 11%;
}

div, form{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, mat-icon{
    color: #442f51;
}

h1{
    margin: auto;
    padding: 40px;
    font-size: 525%;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

mat-icon{
    font-size: 36px;
    width: 36px;
    height: 36px;
    padding: 5px;
}

form{
    width: 30%;
    margin: auto;
    padding: 20px;
    border: 1px solid #8cb3af;
    border-radius: 10px;
}

button{
    background-color: #b4281e;
    color: white;
}

p{
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: #fb8c65;
}