div, form{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}

form{
    width: 30%;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
}

button{
    background-color: rgb(255, 187, 0);
    color: white;
}

p{
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(43, 177, 43);
}