<div class="container">
    <h1>Pet<mat-icon>photo_camera</mat-icon>ture</h1>

    <form class="example-form" (ngSubmit)="onSubmit(formDirective)" [formGroup]="form" #formDirective = "ngForm">

        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" placeholder="fluffy16">
            <mat-error *ngIf="username.hasError('required')">
            Please enter a valid username
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="password.hasError('required')">
            Password can not be empty
            </mat-error>
        </mat-form-field>

        
        <button mat-flat-button type="submit" [disabled]="form.invalid">
            Log in
        </button>
        
        <p>Don't have an account? <a (click) = "openDialog()">Register here.</a> </p>
        <p>Or explore <a href="/home">without login.</a> </p>
    </form>  

</div>
