<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="searchcard" *ngFor = "let request of userRequests; let i = index">
        <div class="details"><app-profile-card [userProfile] = "request"></app-profile-card></div>
        <div class="buttons">
            <button mat-flat-button (click) = "addBuddy(request.userName, i)">
                Confirm
            </button>
            <button mat-flat-button (click) = "removeRequest(request.userName, i)">
                Delete
            </button>
        </div>
    </div>
</div>