div{
    display: flex;
    height: 100%;
    margin: auto;
}

.profileimg, .username{
    margin: 0;
}
.profileimg{
    overflow: hidden;
    border-radius: 10vw;
    width: 11vw;
    height: 11vw;
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
}

.username{
    display: table;
    flex: 2;
    padding-left: 20px;
}
p{
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    font-size: 2vw;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}