div{
    display: flex;
    /* min-width: 50%; */
    /* width: 50%; */
    /* min-height: 20%; */
    height: 100px;
    margin: auto;
}

.profileimg, .username{
    margin: 0;
}
.profileimg{
    flex: 1;
    overflow: hidden;
    max-width: 100px;
    border-radius: 100px;
}

.username{
    display: table;
    flex: 2;
    padding-left: 20px;
}
p{
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}