<header>
    <div>
        <div class="logo" [routerLink] = "'/home'"><button mat-icon-button [routerLink] = "'/home'">Pet<mat-icon class="camera">photo_camera</mat-icon>ture</button></div>

        <div class="links">
            <button mat-icon-button [routerLink] = "'/home'">
                <mat-icon>home</mat-icon>
            </button>

            <button mat-icon-button [routerLink] = "'/search'">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button [routerLink] = "'/incoming'" *ngIf = "logged">
                <mat-icon>favorite</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>face</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink] = "'/profile'" *ngIf = "logged">
                  <mat-icon>pets</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item (click) = "signOut()">
                  <mat-icon>group</mat-icon>
                  <span>Change to my account</span>
                </button>
                <button mat-menu-item (click) = "signOut()" *ngIf = "logged">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sign out</span>
                </button>
                <button mat-menu-item (click) = "deleteAccount()" *ngIf = "logged">
                  <mat-icon>delete_outline</mat-icon>
                  <span>Delete account</span>
                </button>
              </mat-menu>
        </div>
    </div>
</header>
