<header>
    <div>
        <div class="logo" [routerLink] = "'/home'"><button mat-icon-button [routerLink] = "'/home'">Pet<mat-icon class="camera">photo_camera</mat-icon>ture</button></div>

        <div class="links">
            <button mat-icon-button [routerLink] = "'/home'">
                <mat-icon>home</mat-icon>
            </button>

            <button mat-icon-button [routerLink] = "'/search'">
                <mat-icon>search</mat-icon>
            </button>

            <button mat-icon-button [routerLink] = "'/incoming'">
                <mat-icon>favorite</mat-icon>
            </button>

            <button mat-icon-button [routerLink] = "'/profile'">
                <mat-icon>face</mat-icon>
            </button>
        </div>
    </div>
</header>
