header{
    position: absolute;
    top: 0;
    width: 100%;
    min-width: 300px;
    background-color: #8cb3af;
    color: white;
}

div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.logo, .links{
    flex: 1;
    padding: 10px;
}
.logo{
    display: table;
}
.links{
    justify-content: flex-end;
}

.logo button{
    display: table-cell;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 250%;
}

.camera{
    font-size: 50%;
    width: 50%;
    height: 50%;
    padding: 2px;
}