div{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 200px; 
}

h2{
    margin: 10px auto 0 auto;
}

.searchcard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    margin: auto;
    border: 1px solid #8cb3af;
    border-radius: 5px;
    padding: 10px;
    height: 5vw;
    min-width: 500px;
    min-height: 100px;
    margin-top: 10px;
}

.details, .buttons{
    margin: 0;
}

.details{
    flex: 2;
}

.buttons{
    flex: 1;
}

button{
    background-color: #b4281e;
    color: white;
}