<app-nav-bar></app-nav-bar>
<div class="container">
   <div class="details">
       <div class="profileimg">
            <img src="assets/images/perry.jpg">
       </div>
       <div class="info">
           <h2>perryThePlatypus</h2>
           <p>4 pics  200 buddies</p>
       </div>
   </div>

   <div class="pics">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile><img src="assets/images/perry.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/perry.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/perry.jpg"></mat-grid-tile>
        <mat-grid-tile><img src="assets/images/perry.jpg"></mat-grid-tile>
    </mat-grid-list>      
   </div> 
</div>
