<app-nav-bar></app-nav-bar>
<div class="container">
   <div class="details">
       <div class="profileimg">
            <input id="file" class="searcher" type="file" (change)="onFileChanged($event)" accept=".jpg, .jpeg, .png">
            <label for="file"><img src={{profile.getprofilePicture}}></label>
       </div>
       <div class="info">
           <h2>{{profile.getuserName}}</h2>
           <p>{{profile.getpics.length}} pics  {{profile.getbuddyNum}} buddies</p>
       </div>
   </div>

   <div class="pics">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor = "let post of postList"><img src="{{post.picture.pictureName}}" (click) = "openPic(post)"></mat-grid-tile>
    </mat-grid-list>      
   </div> 
</div>
