.container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 200px;
}

.details{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10p;

}
.profileimg{
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    border-radius: 200vw;
    margin: auto;
    min-width: 100px;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
}

.info{
    display: grid;
    height: 20vw;
    padding-left: 10px;
    grid-template-rows: auto auto;
    align-content: space-around;
    height: 20vw;
    min-height: 100px;
    max-width: 150px;
    max-height: 150px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2, p{
    vertical-align: middle; 
}

.pics{
    margin-top: 40px;
}

.searcher{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}