<div class="card"  [@cardFlip]="flipped">
    <div class = "front">
        <div class="body" (click) = "cardClicked()">
            <p><mat-icon>favorite</mat-icon> {{post.picture.licks}}</p>
            <p>{{post.picture.userName}}: {{post.body}}</p>
        </div>
        <div class="pic" (dblclick) = "addALick()">
            <img src={{post.picture.pictureName}}>
            <h1 class="lick" @myInsertRemoveTrigger *ngIf = "isShown" aria-readonly="true">{{lick}}!</h1>
        </div> 
    </div>

    <div class="back">
        <div class="commentaries" (click) = "cardClicked()">
            <p *ngFor="let comment of comments"><b>{{comment.userName}}:</b> {{comment.body}}</p>
        </div>
        <div class="newComment">
            <mat-form-field>
                <span matPrefix><b>{{logedUser}}: &nbsp;</b></span>
                <input type="text" matInput placeholder="Add a comment" [readOnly] = "logedUser.length == 0" [(ngModel)] = "newComment">
                <mat-icon matSuffix (click) = "addAComment()">mode_edit</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>



