div{
    display: flex;
    /* min-width: 50%; */
    width: 600px;
    /* min-height: 20%; */
    height: 400px;
    margin: auto;
    border: 1px solid #8cb3af;
    border-radius: 5px;
    margin-top: 10px;
}

.pic, .body{
    border: none;
    border-radius: 0;
    margin: 0;
}
.pic{
    flex: 2;
    overflow: hidden;
}

.body{
    flex: 1;
    padding: 15px;
}

.body p{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: x-large;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}